.topbar {
  background-color: var(--color-heading);
  padding: 6px 0;

  a {
    color: #c2c2cc;
    font-size: 14px;
    padding: 0 18px;
    font-weight: normal;

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      color: var(--color-primary);
    }
  }
}

// navbar
.header-navbar {
  //   background-color: #f0f0f0;

  .header-logo img {
    max-width: 60px;
    object-fit: contain;
    object-position: center;
  }
  .header-menu {
    flex: 3;
    .menu-list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      padding-left: 0;

      .active {
        &::before {
          width: 100%;
          opacity: 100;
        }
      }
    }
    li {
      margin: 0 24px;
    }

    a {
      color: var(--color-heading);
      font-weight: 700;
      font-size: 15px;
      font-family: var(--font-primary);
      line-height: 80px;
      height: 80px;
      display: block;
      position: relative;
      transition: var(--transition);

      &::before {
        content: '';
        height: 2px;
        width: 0;
        background-color: var(--color-black);
        position: absolute;
        bottom: 29px;
        left: 0;
        opacity: 0;
        transition: 0.5s;
        z-index: 10;
      }
      &:hover::before {
        width: 100%;
        opacity: 100;
      }
    }
  }

  .header-action {
    display: flex;
    align-items: center;
    flex: 2;

    input {
      border: 1px solid #f0f0f0;
      height: 40px;
      background: var(--color-white);
      color: var(--color-heading);
      border-radius: 6px;
      padding-left: 40px;
      padding-right: 10px;
      max-width: 300px;
      width: 300px;
      opacity: 1;
      font-size: 14px;

      &:focus {
        box-shadow: none;
      }
    }

    .btn-search {
      position: absolute;
      left: 15px;
      width: auto;
      padding: 0;
      top: 52%;
      transform: translateY(-50%);
      line-height: 1;
      background-color: rgba(0, 0, 0, 0);
      font-size: 22px;
      color: var(--color-heading);
    }

    .action {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding-left: 0;

      .shopping-cart {
        position: relative;

        .shopping-cart-quantity {
          display: grid;
          place-items: center;
          background-color: var(--color-primary);
          border: 2px solid var(--color-white);
          font-size: 12px;
          font-weight: 500;
          color: var(--color-white);
          border-radius: 50%;
          height: 26px;
          width: 26px;
          position: absolute;
          top: -12px;
          right: -12px;
          z-index: 1;
        }
      }

      li {
        margin: 0 7px;

        .action-link {
          font-size: 24px;
          font-weight: 500;
          color: var(--color-heading);
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          line-height: 0.8;
          transition: var(--transition);
          background-color: transparent;

          &::after {
            content: '';
            height: 45px;
            width: 45px;
            background-color: var(--color-secondary);
            transform: scale(0);
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transition: var(--transition);
          }
          &:hover::after {
            transform: scale(1);
          }
          &:hover {
            color: var(--color-white);
          }
        }

        .active::after {
          content: '';
          height: 45px;
          width: 45px;
          background-color: var(--color-secondary);
          transform: scale(1);
          border-radius: 50%;
          position: absolute;
          z-index: -1;
          transition: var(--transition);
        }
        .active {
          color: var(--color-white);
        }
      }

      .my-account-dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        min-width: 250px;
        padding: 20px;
        border-radius: 4px;
        box-shadow: var(--shadow-primary);
        list-style: none;
        transform: translateY(30px);
        margin-top: 20px;
        transition: 0.2s;

        .title {
          font-size: 12px;
          font-weight: 500;
        }
        ul {
          padding-left: 0;

          li {
            font-size: 16px;
            border-bottom: 1px solid #eee;
            padding: 12px 0;
            margin: 0;
            display: block;

            &:last-child {
              border-bottom: none;
            }
          }
          a {
            transition: var(--transition);
          }
        }
        .login-btn {
          text-align: center;
          margin: 20px 0;

          .btn-custom {
            width: 100%;
            padding: 8px 38px;
          }
        }
        .register-footer {
          font-size: 12px;
          .btn-link {
            margin-left: 7px;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--color-dark);
            position: relative;
            line-height: 1;
            border-bottom: 2px solid #999fae;
            text-decoration: none;
            transition: var(--transition);

            &:hover {
              color: var(--color-primary);
              border-color: var(--color-primary);
            }
          }
        }
      }
      .my-account .my-account-dropdown.show {
        opacity: 1;
        visibility: visible;
        z-index: 5;
        transform: translateY(0);
      }
    }
  }
}
.navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: var(--color-white);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

//end navbar

// banner
.banner {
  padding: 110px 0;
  background-color: #f3f7f6;
  background-image: url('../images/bg/bg-image-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .sub-title {
    font-size: 14px;
    font-weight: var(--s-bold);
    line-height: 1;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: var(--color-secondary);

    i {
      height: 24px;
      width: 24px;
      line-height: 24px;
      border-radius: 50%;
      font-size: 12px;
      text-align: center;
      margin-right: 10px;
      background-color: var(--color-secondary);
      color: var(--color-white);
    }
  }
  .title {
    margin-bottom: 40px;
    font-size: 55px;
    line-height: 1.1;
  }
  .shop-btn {
    a {
      background-color: var(--color-white);
      color: var(--color-heading);
      box-shadow: 0 16px 32px 0 rgba(103, 103, 103, 0.06);
      border-radius: 6px;
      font-size: var(--font-size-b1);
      line-height: var(--line-height-b1);
      font-weight: 700;
      display: inline-block;
      padding: 16px 38px;
      position: relative;
      transition: all 0.3s ease-in-out;
      z-index: 1;

      &::before {
        content: '';
        height: 100%;
        width: 100%;
        border-radius: 6px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: var(--color-white);
      }
      &:hover::before {
        transform: scale(1.1);
      }
      &:hover {
        color: var(--color-heading);
      }
    }

    i {
      margin-left: 5px;
      margin-right: 0;
      color: var(--color-heading);
      position: relative;
      top: 2px;
      font-weight: 500;
    }
  }

  .slide-banner-thumb {
    text-align: center;

    .banner-product {
      transform: scale(0.8);
      transition: 0.3s;
      margin: 45px -26px;
      position: relative;
    }

    .slick-dots li {
      height: 10px;
      width: 10px;
      margin: 0 8px;
    }

    .slick-dots li button {
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.5);
      transform: scale(0.7);
      opacity: 0.8;
    }
    .slick-dots li button::before {
      display: none;
    }

    .slick-dots li.slick-active button {
      transform: scale(1.4);
      box-shadow: inset 0 0 0 1.5px var(--color-primary);
      opacity: 1;
    }
    .slick-current.slick-active.slick-center .banner-product {
      transform: scale(1.1);
      box-shadow: 0px 10px 80px -87px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      z-index: 25;
    }

    .thumb {
      position: relative;
      display: block;
      overflow: hidden;
      a {
        border-radius: 6px 6px 0 0;
        display: block;
        background-color: #f7f7f7;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          transition: 0.3s;
          //   padding: 25px;
        }
      }
      &:hover img {
        transform: scale(1.1);
      }
    }

    .content {
      padding: 25px 30px 30px;
      margin: 0;
      background-color: var(--color-white);

      .title {
        color: var(--color-body);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        transition: var(--transition);

        a {
          transition: 0.3s;

          &:hover {
            color: var(--color-primary);
          }
        }
      }

      .product-price-variant {
        margin: -4px;
        transition: var(--transition);
        transition-delay: 0.1s;

        .price {
          margin: 4px;
          color: var(--color-heading);
          font-weight: 700;
          font-size: 20px;
          font-family: var(--font-secondary);
        }
      }

      .cart-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -5px;
        padding-top: 10px;
        padding-left: 0;

        .select-option {
          margin: 5px;
          list-style: none;

          .btn-custom {
            height: 40px;
            line-height: 39px;
            padding: 0 18px;
            font-weight: 600;
            font-size: 14px;

            &::before {
              background-color: var(--color-secondary);
            }
          }
        }
      }
    }
  }
}

// end banner

// home-category

.home-category {
  padding: 80px 0 50px;

  .title {
    .icon {
      font-size: 14px;
      font-weight: var(--s-bold);
      line-height: 1;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: var(--color-secondary);

      i {
        height: 24px;
        width: 24px;
        line-height: 24px;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        margin-right: 10px;
        color: var(--color-white);
        background-color: var(--color-secondary);
      }
    }
  }

  .category {
    position: relative;
    margin: 0 -15px;

    .slick-slide {
      padding: 0 15px;
    }
    .slide-arrow {
      position: absolute;
      outline: none;
      width: 50px;
      height: 50px;
      background: var(--color-lighter);
      color: var(--color-body);
      border: none;
      border-radius: 6px;
      z-index: 2;
      top: -70px;

      &::before {
        content: '';
        height: 100%;
        width: 100%;
        background-color: var(--color-lighter);
        border-radius: 6px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &:hover::before {
        transform: scale(1.1);
      }
    }
    .prev-arrow {
      left: auto;
      right: 70px;

      &:hover i {
        animation: prevNavSlide 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      }
    }

    .next-arrow {
      left: auto;
      right: 13px;
      &:hover i {
        animation: nextNavSlide 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      }
    }
    .category-item {
      cursor: pointer;
      .categrie-product {
        min-width: 120px;
        position: relative;
        text-align: center;
        border-radius: 6px;
        margin-bottom: 30px;
        box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.04);
        transition: 0.5s ease-in-out;
        z-index: 1;
        margin-top: 20px;

        .categorie-link {
          padding: 28px 12px;

          img {
            margin: 0 auto 8px;
            min-height: 41px;
            max-width: 64px;
            object-fit: contain;
          }

          .cate-title {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 24px;
          }
        }

        &::before {
          content: '';
          height: 100%;
          width: 100%;
          background-color: var(--color-white);
          border: 1px solid #f0f0f0;
          border-radius: 4px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
          transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &:hover::before {
          transform: scale(1.1);
        }
      }
    }
  }
}
//  end home-category

// home-poster
.home-poster {
  .poster-wrap {
    padding: 65px 80px;
    border-radius: 6px;
    margin-top: 95px;
    background-color: var(--color-lighter);
    .title {
      font-size: 48px;
      margin-bottom: 40px;
    }

    .thumb {
      text-align: center;
      margin-top: -160px;
      position: relative;

      .music-singnal {
        display: block;
        position: absolute;
        top: 48%;
        left: 45%;
        width: 100px;
        height: 100px;
        transform: rotate(-95deg);

        .item-circle {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          border-color: var(--color-chart03);
          border-style: solid;
          border-width: 1px 4px 0 0;
          border-radius: 0 100% 0 0;
          opacity: 0;
          animation: music_animation 2s infinite;
        }

        .item-circle.circle-1 {
          animation-delay: 800ms;
        }
        .item-circle.circle-2 {
          width: 80px;
          height: 80px;
          animation-delay: 600ms;
        }
        .item-circle.circle-3 {
          width: 60px;
          height: 60px;
          animation-delay: 400ms;
        }
        .item-circle.circle-4 {
          width: 40px;
          height: 40px;
          animation-delay: 200ms;
        }
        .item-circle.circle-5 {
          width: 20px;
          height: 20px;
          animation-delay: 0ms;
        }
      }
    }
  }
}
// end home-poster

//product-area

.product-area {
  padding: 80px 0;
  h2.title {
    margin-bottom: 40px;
  }

  .title-highlighter {
    color: var(--light-primary);
  }
  .title-highlighter i {
    background-color: var(--light-primary);
    color: var(--color-white);
  }

  .main-product {
    margin: 0 -10px;

    .product-item {
      .thumb {
        position: relative;
        display: block;
        .thumb-img {
          position: relative;
          overflow: hidden;
          transition: all 0.5s linear;
        }

        .thumb-link {
          display: block;
          background-color: #f7f7f7;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          text-align: center;

          img {
            width: 100%;
            min-width: 276px;
            min-height: 300px;
            max-width: 300px;
            object-fit: contain;
            object-position: center;
            transition: var(--transition);
            mix-blend-mode: darken;
            filter: hue-rotate(150%);
          }
        }

        .lable-sale {
          position: absolute;
          left: auto;
          top: 24px;
          right: -12px;

          .product-badget {
            background-color: var(--color-primary);
            line-height: 1;
            padding: 6px 10px 5px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border-radius: 4px;
            box-shadow: 0 8px 16px 0 rgba(53, 119, 240, 0.3);
          }
        }
      }

      &:hover .thumb-img img {
        transform: scale(1.1);
      }
      &:hover .actions-hover {
        bottom: 25px;
        opacity: 1;
        visibility: visible;
      }
    }

    .actions-hover {
      position: absolute;
      bottom: -50px;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

      .btn-action {
        width: 40px;
        height: 40px;
        line-height: 42px;
        border-radius: 4px;
        background-color: var(--color-white);
        display: block;
        text-align: center;
        transition: 0.3s;
        position: relative;
        font-size: 14px;
        color: var(--color-heading);
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.06);
        position: relative;
        z-index: 1;

        &:hover::before {
          transform: scale(1.2);
        }

        &::before {
          content: '';
          height: 100%;
          width: 100%;
          background-color: var(--color-white);
          border-radius: 4px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
          transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }

      .btn-action-lagre {
        height: 40px;
        line-height: 39px;
        padding: 0 18px;
        display: block;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
        color: var(--color-white);
        background-color: var(--color-secondary);
        transition: 0.3s;
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.06);
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          height: 100%;
          width: 100%;
          background-color: var(--color-secondary);
          border-radius: 4px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
          transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &:hover::before {
          transform: scale(1.1);
        }

        &.disabled {
          background-color: var(--color-gray);
          pointer-events: none;
          cursor: not-allowed;
        }
        &.disabled::before {
          background-color: var(--color-gray);
        }
        &.disabled:hover::before {
          transform: scale(1);
        }
      }

      li {
        margin: 5px;
      }

      .action-list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .content {
      margin: 30px 0;

      .inner {
        display: grid;
        grid-template-rows: subgrid;
        grid-auto-rows: 1fr;
        grid-row: span 3;
        align-items: stretch;
      }

      .product-rating {
        display: block;
        margin-bottom: 10px;
        font-size: 13px;
        transition: var(--transition);
        color: #ffdc60;

        .rating-number {
          margin-left: 5px;
          font-weight: 500;
          color: var(--color-body);
        }
      }

      .title {
        color: var(--color-body);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        a {
          transition: all 0.3s;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }

      .product-price-variant {
        display: block;
      }

      .price {
        margin: 4px;
        color: var(--color-heading);
        font-weight: 700;
        font-size: 20px;
        font-family: var(--font-secondary);
      }
      .current-price {
        color: var(--color-heading);
      }
      .old-price {
        color: #d6d6d6;
        text-decoration: line-through;
        margin-left: 0;
      }
    }

    .btn-custom {
      color: var(--color-body);
      cursor: pointer;

      &::before {
        background-color: var(--color-lighter);
      }
    }
  }

  .shop-top {
    margin-bottom: 50px;

    .category-select {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
    }
    .filter-select {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: 4px;

      .btn-custom {
        padding: 10px 34px;
        font-weight: 600;
        &:hover::before {
          transform: scale(1.06);
        }
      }
      .btn-bg-danger::before {
        background-color: var(--color-danger) !important;
      }
    }

    .niceSelect {
      color: var(--color-dark);
      width: auto;
      margin: 10px;
      padding-right: 50px;
      font-family: var(--font-primary);
      font-weight: 500;
      font-size: var(--font-size-b1);
      border: 2px solid var(--color-light);
      height: 55px;
      line-height: 51px;
      padding-left: 30px;
    }
    .nice-select:after {
      border-bottom: 1px solid var(--color-dark);
      border-right: 1px solid var(--color-dark);
      height: 7px;
      margin-top: -4px;
      right: 20px;
      top: 50%;
      width: 7px;
    }
    .nice-select .list {
      min-width: 125px;
    }
  }
}

//end product-area

.most-sold-product,
.product-area {
  .price {
    margin: 4px;
    color: var(--color-heading);
    font-weight: 700;
    font-size: 20px;
    font-family: var(--font-secondary);
  }
  .current-price {
    color: var(--color-heading);
  }
  .old-price {
    color: #d6d6d6;
    text-decoration: line-through;
    margin-left: 0;
  }
}

//most-sold-product

.most-sold-product {
  .most-sold-product-wrap {
    padding: 80px 0;
    border-top: 2px solid var(--color-lighter);
  }

  .most-sold-brt {
    border-top: 2px solid var(--color-lighter);
  }
  .content {
    margin-right: -8px;
    margin-left: -8px;
  }

  .title-highlighter {
    color: var(--light-primary);
    justify-content: center;

    i {
      color: var(--color-white);
      background-color: var(--light-primary);
    }
  }
  .product-list {
    position: relative;
    border: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-right: 8px;
    margin-left: 8px;
    transition: var(--transition);

    &:hover {
      border-color: var(--color-white);
      box-shadow: var(--shadow-dark);
    }
    &:hover .thumbnail img {
      transform: scale(1.1);
    }

    .thumbnail {
      margin-right: 30px;
      overflow: hidden;

      a {
        background-color: #f7f7f7;
        border-radius: 6px;
        display: block;
        transition: var(--transition);
        overflow: hidden;
        max-width: 120px;
        max-height: 120px;
      }

      img {
        transition: var(--transition);
        object-position: center;
        object-fit: cover;
      }
    }

    .product-content {
      flex: 1;
      position: relative;
      padding-right: 60px;

      .product-rating {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        font-size: 12px;

        .rating-icon {
          color: #ffa800;
        }

        .rating-number {
          font-weight: 500;
          margin-left: 10px;
          display: inline-block;
          span {
            font-weight: 700;
            color: var(--color-heading);
          }
        }
      }

      .product-title {
        margin-bottom: 10px;
        font-size: 16px;
        color: var(--color-body);
        overflow: hidden;
        max-width: 360px;
        transition: var (--transition);
      }
      a {
        transition: 0.3s;
      }

      .product-cart {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        .cart-btn {
          background-color: var(--color-white);
          text-align: center;
          display: block;
          height: 40px;
          width: 40px;
          line-height: 40px;
          border: 1px solid #efefef;
          border-radius: 6px;
          color: var(--color-heading);
          font-size: 14px;
          font-weight: 500;
          transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: var(--transition);
          margin-bottom: 10px;

          &:hover {
            background: var(--color-primary);
            border-color: var(--color-primary);
            color: var(--color-white);
          }
        }
      }
    }
  }
}

//end most-sold-product

// service-area

.service-area {
  .service-area-brb {
    border-bottom: 2px solid var(--color-lighter);
    padding-bottom: 30px;
  }
  .service-box {
    display: flex;
    align-items: start;
    border: none;
    padding: 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);

    .icon {
      margin-right: 20px;
      margin-bottom: 0;
      max-width: 45px;
      margin-top: 6px;
    }
    .content {
      flex: 1;
      .title {
        line-height: var(--line-height-b1);
        margin-bottom: 0;
      }
      p {
        font-size: var(--font-size-b1);
        line-height: var(--line-height-b1);
        font-weight: var(--p-regular);
        color: var(--color-body);
        margin: 0;
      }
    }
  }
}

// end service-area

// footer-area

.footer-area {
  padding-top: 50px;
  .logo img {
    max-width: 90px;
  }

  .footer-widget {
    margin-bottom: 40px;

    .widget-title {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.025em;
      margin-bottom: 20px;
    }
    .inner p {
      font-size: var(--font-size-b1);
      line-height: var(--line-height-b1);
      font-weight: var(--p-regular);
      color: var(--color-body);
      margin: 0 0 30px;
    }

    .inner-ul {
      list-style: none;
      padding-left: 0;

      li a {
        color: var(--color-body);
        font-weight: 500;
        font-size: 16px;
        transition: 0.3s;
        position: relative;

        &::before {
          content: '';
          height: 2px;
          width: 0;
          background-color: var(--color-black);
          position: absolute;
          bottom: -2px;
          right: 0;
          opacity: 0;
          transition: 0.5s;
        }
        &:hover::before {
          width: 100%;
          opacity: 1;
          left: 0;
        }
        &:hover {
          color: var(--color-heading);
        }
      }
    }

    .support-list-item {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li i {
        padding-right: 5px;
      }

      li a {
        color: var(--color-body);
        font-weight: 500;
        font-size: 16px;
        transition: 0.3s;
        position: relative;

        &:hover {
          color: var(--color-heading);
        }

        i {
          padding-right: 5px;
        }
      }
    }

    .download-btn-group {
      display: flex;
      align-items: center;
      margin-top: 15px;

      .qr-code {
        margin-right: 20px;

        img {
          border: 0;
          vertical-align: middle;
          max-width: 125px;
          height: auto;
        }
      }
    }
  }
  .copyright-area {
    font-size: 14px;
    color: var(--color-body);
    .bt {
      padding: 15px 0;
      border-top: 2px solid var(--color-lighter);
    }
    .social-share {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;

      a {
        font-size: 16px;
        color: var(--color-body);
        line-height: normal;
      }
    }

    .quick-link {
      list-style: none;
      display: flex;
      margin: -15px;

      li {
        color: var(--color-body);
        font-size: 14px;
        a {
          color: var(--color-body);
          transition: var(--transition);
          font-weight: 500;
          &:hover {
            color: var(--color-heading);
          }
        }
      }
    }
    .copyright-right {
      .card-text {
        color: var(--color-body);
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        margin: 10px 20px;
        letter-spacing: -0.025em;
      }
      ul li {
        padding: 0 8px;
      }
    }
  }
}

// end footer-area

// header-top-campaign
.header-top-campaign {
  background-image: url(../images/others/campaign-bg3.png);
  padding: 20px 0 18px;

  .slide-arrow {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 6px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      color: var(--color-white);
    }
  }

  .slide-arrow.next-arrow {
    left: auto;
    right: -45px;
  }

  .slide-arrow.prev-arrow:hover i {
    animation: prevNavSlide 400ms;
  }
  .slide-arrow.next-arrow:hover i {
    animation: nextNavSlide 400ms;
  }
  .campaign-content {
    margin: 0 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    p {
      font-size: 16px;
      font-weight: 700;
      color: var(--color-white);
      margin-bottom: 0;

      a {
        font-weight: 700;
        color: var(--color-white);
        text-decoration: underline;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--color-secondary);
        }
      }
    }
  }
}

// end header-top-campaign

// detail-product-area
.detail-product-area {
  padding: 80px 0;
  .detail-product-main {
    .product-thumb-small {
      .slick-current.slick-active img {
        border-color: var(--color-primary);
      }
      .small-thumb-img {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 0.4s;
        background-color: var();
      }

      img {
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0);
        width: 80px;
        height: auto;
        transition: all 0.2s;

        &:hover {
          border-color: var(--color-primary);
        }
      }
    }
    .product-thumb-large {
      img {
        width: 100%;
        border-radius: 6px;
      }
    }

    .thumbnail {
      position: relative;
    }

    .product-quick-view {
      position: absolute;
      right: 30px;
      bottom: 30px;
      a {
        background: #fff;
        width: 48px;
        height: 48px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: var(--color-primary);
          color: var(--color-white);
        }
      }
    }

    .detail-product-content {
      padding-left: 15px;
      .inner {
        .product-title {
          margin-bottom: 18px;
          color: var(--color-dark);
          font-size: 28px;
        }
        .price {
          margin-bottom: 20px;
          display: flex;
          align-items: center;

          .price-amount {
            font-size: 24px;
            font-family: var(--font-secondary);
            color: var(--color-secondary);
            font-weight: 600;
            margin-right: 12px;
          }
          .price-amount-old {
            font-weight: 500;
            font-size: 24px;
            font-family: var(--font-secondary);
            color: var(--color-body);
            font-size: 18px;
            margin-right: 8px;
            margin-top: 3px;
            text-decoration: line-through;
          }
        }

        .product-rating {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          line-height: 1;
          padding-bottom: 20px;
          border-bottom: 2px solid #f6f7fb;

          .star-rating {
            margin-right: 8px;
            font-size: 14px;
            color: #ffdc60;
          }
          .review-link span {
            font-size: 16px;
            line-height: 24px;
            color: var(--color-body);
            transition: var(--transition);

            cursor: default;
            &:hover {
              color: var(--color-heading);
            }
          }
        }

        .product-meta {
          margin-bottom: 20px;
          padding-left: 0;

          li {
            color: var(--color-primary);
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            margin: 0;

            i {
              padding-right: 15px;
              font-size: 18px;
            }
          }
        }

        .description {
          margin-bottom: 30px;
        }

        .product-variations-wrapper {
          .product-variation {
            margin-bottom: 30px;
            display: flex;
            align-items: center;

            .title {
              font-weight: 500;
              font-size: 20px;
              margin-bottom: 0;
              min-width: 114px;
            }

            .color-variant,
            .size-variant {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              margin: -5px;
              padding-left: 0;

              li {
                list-style: none;
                border: 2px solid #f6f7fb;
                background: #fff;
                padding: 5px 13px;
                border-radius: 30px;
                min-width: 44px;
                min-height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 24px;
                margin: 5px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                  border-color: #656973;
                }
              }

              .active {
                border-color: #656973;
              }
            }
          }
        }

        .product-action-wrapper {
          .pro-quantity {
            width: 130px;
            border-radius: 50px;

            input {
              width: 28px;
              float: left;
              border: none;
              height: 32px;
              line-height: 30px;
              padding: 0;
              text-align: center;
              background-color: rgba(0, 0, 0, 0);
              font-size: 20px;
              font-weight: 500;
              margin: 0 12px;
              color: #27272e;
            }

            .quantity-btn {
              width: 32px;
              display: block;
              float: left;
              line-height: 26px;
              cursor: pointer;
              text-align: center;
              font-size: 16px;
              font-weight: 300;
              color: #000;
              height: 32px;
              background: #f6f7fb;
              border-radius: 50%;
              transition: 0.3s;
              border: 2px solid rgba(0, 0, 0, 0);

              &:hover {
                border-color: var(--color-primary);
              }
            }
          }

          .product-action {
            flex: 1;
            width: 100%;

            li {
              margin: 0 10px;
              list-style: none;
            }
            .add-to-cart {
              flex: 1;
              .btn-custom {
                width: 100%;
                text-align: center;
                display: block;
              }
            }
            .wishlist-btn {
              position: relative;
              border-radius: 6px;
              border: 2px solid var(--color-light);
              padding: 14px 18px;
              color: var(--color-body);
              font-weight: 700;
              font-size: 20px;
              line-height: var(--line-height-b1);
              transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

              &::after {
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                border-radius: 6px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                background-color: var(--color-primary);
                opacity: 0;
                visibility: hidden;
              }

              &:hover::after {
                transform: scale(1.2);
                opacity: 1;
                visibility: visible;
              }
              &:hover {
                border-color: var(--color-primary);
                color: var(--color-white);
              }
            }
          }
        }
      }
    }
  }
}
// end detail-product-area

// woocommerce-tabs

.woocommerce-tabs {
  padding: 80px 0 35px 0;

  .nav.tabs {
    margin: 0 -20px 60px;

    .nav-item {
      margin: 0 20px;
      a {
        font-size: 24px;
        line-height: 25px;
        font-weight: 500;
        display: block;
        color: var(--color-body);
        position: relative;
        transition: 0.5s;

        &::after {
          content: '';
          height: 2px;
          width: 0;
          background-color: var(--color-primary);
          position: absolute;
          bottom: -5px;
          right: 0;
          opacity: 0;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
          left: 0;
          opacity: 1;
        }

        &:hover {
          color: var(--color-primary);
        }
      }
      .active::after {
        opacity: 1;
        width: 100%;
        left: 0;
      }
      .active {
        color: var(--color-primary);
      }
    }
  }

  .product-desc-wrapper {
    .pro-des-features {
      margin-left: -30px;
      padding-left: 0;
      display: flex;
      align-items: center;

      .li-features {
        list-style: none;
        padding: 15px 30px;
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        color: var(--color-dark);
      }

      .icon {
        width: 60px;
        height: 60px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 20px 0;

        img {
          max-width: 30px;
        }
      }
    }
  }

  .product-additional-info {
    background: #fff;
    padding: 50px;
    border-radius: 6px;
    margin-bottom: 40px;

    table tbody tr:nth-child(odd) {
      background: var(--color-lighter);
    }

    table tbody tr th,
    table tbody tr td {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      padding: 17px 30px 18px;
      min-width: 200px;
    }

    table tbody th {
      text-transform: capitalize;
      color: #292930;
      font-weight: 500;
    }
  }

  .reviews-wrapper {
    .pro-desc-commnet-area {
      padding-right: 100px;

      .not-comment {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;

        img {
          width: 121px;
        }
        small {
          text-align: center;
          margin-top: 5px;
          font-size: 15px;
          display: inline-block;
        }
      }
      .product-comment {
        padding: 15px 0;
        display: flex;
        .comment-img {
          margin-bottom: 15px;
          margin-right: 20px;
          width: 50px;

          img {
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .comment-inner {
          width: 100%;
        }
        .comment-text {
          white-space: wrap;
          word-wrap: break-word;
        }

        .commenter {
          display: flex;
          align-items: center;
          justify-content: space-between;
          line-height: 33px;
          word-break: break-word;
          font-family: var(--font-secondary);
          color: var(--color-heading);
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 10px;

          .title {
            display: flex;
            flex-direction: column;
          }

          .comment-date {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.54);
            line-height: 1;
            margin-left: 2px;
          }
          .commenter-rating {
            font-size: 12px;
            word-wrap: break-word;
          }
          i {
            color: var(--star);
          }
          .empty-rating {
            color: #cecece;
          }
        }
      }
    }
  }

  .comment-respond {
    .star {
      color: #cecece;
      cursor: pointer;
      font-size: 25px;
      padding-right: 4px;
      transition: all ease-in-out;
      transition: var(--transition);
      &:hover {
        color: var(--star);
      }
    }
    .star.hovered {
      color: #f0b111;
    }

    .star.selected {
      color: var(--star);
    }
    .form-group {
      position: relative;

      label {
        position: absolute;
        top: -11px;
        left: 20px;
        pointer-events: none;
        z-index: 4;
        background: #f9f3f0;
        padding: 0 10px;
      }
      textarea {
        background-color: transparent;
      }
    }
  }
}
// end woocommerce-tabs

// breadcrumb-area

.breadcrumb-area {
  position: relative;
  background-color: #f8f8f8;
  padding: 40px 0 45px;

  .inner {
    .breadcrumb {
      display: flex;
      padding: 0;
      margin: 0 0 15px;
      list-style: none;
      align-items: center;

      .breadcrumb-item {
        margin-top: 0;
        margin-bottom: 0;
        font-size: var(--font-size-b1);
        line-height: var(--line-height-b1);
        font-weight: 500;

        &.active {
          color: var(--color-primary);
        }

        a {
          color: #999;
          display: block;
          transition: var(--transition);
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
    .title {
      font-size: 40px;
      margin-bottom: 0;
    }

    li.separator {
      height: 11px;
      width: 2px;
      background-color: #e5e5e5;
      margin: 0 8px;
    }
  }

  .bradcrumb-thumb {
    text-align: right;
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      height: 110px;
      width: 110px;
      background-color: var(--color-white);
      border-radius: 50%;
      position: absolute;
      top: -10px;
      right: 60px;
      z-index: -1;
    }
  }
}
// end breadcrumb-area

// signin-area
.signin-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .site-logo img {
    max-width: 80px;
  }
  .signin-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 100px;
    z-index: 1;

    .singin-header-btn {
      display: flex;
      align-items: center;
      justify-content: end;

      .btn-custom::before {
        background-color: var(--color-secondary);
      }
      p {
        margin-right: 40px;
        margin-bottom: 0;
        color: #292930;
        font-size: var(--font-size-b2);
        font-weight: var(--p-medium);
      }
    }
    .back-btn {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #cbd3d9;
      border-radius: 4px;
      font-size: 16px;
      display: block;
      text-align: center;
      transition: var(--transition);
      display: grid;
      place-items: center;

      &:hover {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-white);
      }

      &:hover i {
        animation: prevNavSlide 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }

  .signin-banner {
    display: none;
    min-height: 900px;
    height: 100vh;
    padding: 200px 50px 0 100px;
  }

  .bg_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .signin-banner.bg_image--9 {
    background-image: url('../images/bg/bg-image-9.jpg');
  }

  .signin-banner.bg_image--10 {
    background-image: url('../images/bg/bg-image-10.jpg');
  }

  .signin-form-wrap {
    width: 100%;
    height: calc(100vh - 180px);
    overflow-y: auto;
    display: flex;
    margin: 180px -30px -30px;

    .signin-form-main {
      max-width: 500px;
      width: 100%;
      padding: 30px;
    }
    .title {
      margin-bottom: 16px;
    }
    .desc {
      color: var(--color-gray);
      font-size: 14px;
    }

    .singin-form {
      padding-bottom: 30px;
      input {
        border: 0 none;
        border-radius: 6px;
        height: 50px;
        font-size: var(--font-size-b1);
        padding: 0 20px;
        background-color: #fff;
        border: 1px solid var(--color-light);
        transition: border-color var(--transition);
        &:focus {
          border-color: var(--color-primary);
          box-shadow: none;
        }
      }
      .form-group {
        position: relative;

        label {
          position: absolute;
          top: -11px;
          left: 20px;
          pointer-events: none;
          z-index: 4;
          background: #fff;
          padding: 0 10px;
          margin-bottom: 6px;
          font-size: 14px;
          line-height: 22px;
          font-weight: 500;
          color: var(--color-body);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .form-control {
        height: 60px;
        border-color: var(--color-light);
        padding: 0 30px;
        color: var(--color-body);
        &.is-invalid {
          border-color: var(--color-secondary);
          background-position: right calc(0.375em + 1.2rem) center;
          background-size: 18px;
        }
      }
      .invalid-feedback {
        margin-top: 7px;
        transition: var(--transition);
      }
      .forgot-btn {
        font-size: 14px;
        color: var(--color-primary);
        transition: var(--transition);
        &:hover {
          color: var(--color-body);
        }
      }
    }
  }
}
// end signin-area

// cart-dropdown-area
.cart-dropdown-area {
  &.show {
    right: 0;
  }
  position: fixed;
  right: -600px;
  top: 0;
  bottom: 0;
  z-index: 101;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);

  .cart-content-wrap {
    background-color: var(--color-white);
    padding: 60px 50px;
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;

    .cart-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid #f6f7fb;
      padding-bottom: 18px;

      .header-title {
        font-size: 26px;
        color: #27272e;
        margin-bottom: 0;
      }
      .cart-close {
        height: 40px;
        width: 40px;
        font-size: 16px;
        color: var(--color_black);
        border-radius: 50%;
        transition: var(--transition);

        &:hover {
          background-color: var(--color-primary);
          color: var(--color-white);
        }
      }
    }
    .cart-body {
      overflow: auto;
      padding: 30px 0;
      flex: auto;

      &::-webkit-scrollbar {
        width: 0; /* Chiều rộng thanh cuộn */
        opacity: 0;
      }

      // /* Thiết lập thanh cuộn ngang */
      // &::-webkit-scrollbar-track {
      //   background: #f1f1f1;
      //   border-radius: 8px; /* Màu nền của thanh cuộn */
      //   opacity: 0;
      // }

      // &::-webkit-scrollbar-thumb {
      //   background: rgba(153, 153, 153, 0.5);
      //   border-radius: 8px; /* Màu sắc của thanh cuộn */
      //   opacity: 0;
      // }

      // /* Thiết lập thanh cuộn dọc */
      // &::-webkit-scrollbar-thumb:hover {
      //   background: #555; /* Màu sắc khi di chuột qua thanh cuộn */
      // }

      .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        border-bottom: 1px solid #f6f7fb;
        padding-bottom: 30px;

        &:last-child {
          border-color: transparent;
        }

        .item-img {
          margin-right: 30px;
          position: relative;
          a {
            display: block;
            background-color: #f6f7fb;
            img {
              border-radius: 10px;
              height: 100px;
              width: 100px;
              object-fit: cover;
            }
          }

          .close-btn {
            height: 31px;
            width: 31px;
            background-color: #f6f7fb;
            border: 2px solid var(--color-white);
            border-radius: 50%;
            font-size: 12px;
            color: var(--color-black);
            position: absolute;
            top: -15px;
            left: -10px;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: var(--color-primary);
              color: var(--color-white);
            }
          }
        }

        .item-content {
          flex: 1;
          position: relative;
          padding-right: 110px;

          .product-rating {
            margin-bottom: 14px;
            font-size: 10px;
            transition: var(--transition);
            i {
              color: var(--star);
            }
          }
          .rating-number {
            margin-left: 5px;
            font-weight: 500;
          }
          .item-title {
            font-size: 16px;
            color: var(--color-black);
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            a {
              transition: var(--transition);
            }
          }

          .variants {
            position: relative;
            margin: 2px 0;
            label {
              cursor: pointer;
            }
            label::after {
              // content: "";
              border-top: 5px solid var(--color-primary);
              border-right: 5px solid transparent;
              border-left: 5px solid transparent;
              display: inline-block;
              vertical-align: middle;
              margin-left: 2px;
            }
            span {
              color: var(--color-primary);
              font-size: 14px;
            }
          }

          .item-price {
            font-size: 18px;
            font-family: var(--font-secondary);
            color: var(--color-black);
          }
          .item-quantity {
            display: flex;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            justify-content: flex-end;
          }
          .qtybtn {
            text-align: center;
            height: 26px;
            width: 26px;
            line-height: 25px;
            font-size: 18px;
            color: var(--color-black);
            background-color: #f6f7fb;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: var(--color-primary);
              color: var(--color-white);
              cursor: pointer;
            }
          }
          .quantity-input {
            font-size: 16px;
            font-weight: 600;
            color: #27272e;
            height: 26px;
            width: 30px;
            border: none;
            text-align: center;
            padding: 0;
            line-height: 30px;
            float: left;
            background-color: rgba(0, 0, 0, 0);
            margin: 0 12px;
          }
        }
      }
    }
    .cart-footer {
      border-top: 2px solid #f6f7fb;

      .cart-subtotal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 22px 0 30px;
        color: var(--color-black);
        font-size: 20px;
      }

      .group-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        text-align: center;
        .btn-custom:hover::before {
          transform: scale(1.04);
        }
      }
    }
  }
}
// end cart-dropdown-area

// active-account-area
.active-account-area {
  .active-account-main {
    padding: 100px;

    .icon i {
      background-color: var(--color-success);
      color: var(--color-white);
      text-align: center;
      padding: 30px;
      border-radius: 100%;
      font-size: 40px;
      width: 100px;
      height: 100px;
    }
    .icon.danger i {
      background-color: var(--color-danger);
    }
    h1 {
      margin-top: 40px;
    }
    h5 {
      font-weight: normal;
      font-size: 18px;
      color: var(--color-heading);
    }
  }
}
// end active-account-area

// error-page-area and comingsoon
.error-page-area {
  min-height: 100vh;
  align-items: center;
  display: flex;

  .content {
    padding-right: 100px;
  }
  .btn-custom i {
    margin-left: 6px;
  }
}
.comming-soon-area {
  min-height: 100vh;
  align-items: center;
  // display: flex;

  .brand-logo img {
    max-width: 120px;
    margin-bottom: 20px;
  }
  .comming-soon-banner {
    min-height: 100vh;
    height: 100vh;
    padding: 100px 50px;
  }
  .bg_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .bg_image--13 {
    background-image: url('../images/bg/bg-image-13.jpg');
  }

  .comming-soon-content {
    text-align: center;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .newsletterr-inner::before {
    content: '';
    position: absolute;
    left: 30px;
    background: url(../images/others/send-mail.png) no-repeat;
    z-index: 2;
    top: 17px;
    width: 25px;
    height: 25px;
  }
  input {
    background-color: var(--color-lighter) !important;
    padding-left: 66px !important;
    width: 390px;
    font-size: var(--font-size-b2);
    font-weight: 400;
    height: auto;
    line-height: 60px;
    background: #fff;
    box-shadow: none;
    padding: 0 30px;
    outline: none;
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--radius);

    &::placeholder {
      color: var(--color-body);
      opacity: 0.8;
    }
  }
  .btn-custom::before {
    background-color: var(--color-heading);
  }
}
// end error-page-area and comingsoon
