@charset "UTF-8";
.admin-header {
  max-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 5;
  transition: 0.5s;
  margin-left: 280px;
  width: calc(100% - 280px);
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
}
.admin-header .header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 22px 30px;
  position: relative;
}
.admin-header .header-wrapper .nav-menus {
  cursor: pointer;
  position: relative;
}
.admin-header .header-wrapper .nav-menus::before {
  position: absolute;
  content: "";
  top: 40px;
  bottom: 0;
  right: 0;
  left: -70px;
  height: 10px;
  width: 200px;
}
.admin-header .header-wrapper .nav-menus:hover .profile-dropdown {
  visibility: visible;
  opacity: 1;
}
.admin-header .header-wrapper .nav-menus .profile-media {
  display: flex;
  align-items: center;
}
.admin-header .header-wrapper .nav-menus .user-profile {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.admin-header .header-wrapper .nav-menus .media-body {
  font-weight: 600;
  font-size: 15px;
  color: var(--color-dark);
}
.admin-header .header-wrapper .nav-menus .media-body p {
  font-size: 12px;
  line-height: 1;
  color: #4a5568;
  font-weight: normal;
}
.admin-header .header-wrapper .nav-menus .profile-dropdown {
  position: relative;
  border-radius: 6px;
  box-shadow: var(--shadow-primary);
  width: 300px;
  right: 15px;
  top: 50px;
  padding: 10px;
  font-size: 16px;
  z-index: 8;
  background-color: var(--color-white);
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
  visibility: hidden;
  opacity: 0;
}
.admin-header .header-wrapper .nav-menus .profile-dropdown li {
  padding: 10px;
  margin: 0;
}
.admin-header .header-wrapper .nav-menus .profile-dropdown li a:hover span,
.admin-header .header-wrapper .nav-menus .profile-dropdown li span:hover {
  color: var(--color-secondary);
}
.admin-header .header-wrapper .nav-menus .profile-dropdown li i {
  color: var(--color-secondary);
}
.admin-header .header-wrapper .nav-menus .profile-dropdown li a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.admin-header .header-wrapper .nav-menus .profile-dropdown li span {
  font-size: 14px;
  color: var(--color-heading);
  transition: var(--transition);
  cursor: pointer;
}
.admin-header .header-wrapper .nav-menus .profile-dropdown li i {
  font-size: 18px;
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  z-index: 7;
  line-height: inherit;
  background: var(--color-white);
  width: 280px;
  height: auto;
  text-align: left;
  box-shadow: 0 0 2px 1px rgba(89, 102, 122, 0.1);
  overflow: hidden;
}
.sidebar-wrapper .logo-wrapper {
  padding: 8px 25px;
}
.sidebar-wrapper .logo-wrapper img {
  max-width: 90px;
  filter: drop-shadow(3px 7px 8px #d1d1df);
}
.sidebar-wrapper .sidebar-main {
  height: calc(100vh - 130px);
  left: -300px;
  z-index: 99;
  transition: color 1s ease;
  overflow: auto;
  color: rgba(0, 0, 0, 0);
  margin-bottom: 40px;
}
.sidebar-wrapper .sidebar-main::-webkit-scrollbar {
  width: 10px;
}
.sidebar-wrapper .sidebar-main::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-wrapper .sidebar-main::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.sidebar-wrapper .sidebar-main .sidebar-links {
  padding-left: 1px;
}
.sidebar-wrapper .sidebar-main .sidebar-list {
  display: block;
  width: 100%;
  width: 279px;
  padding-left: 10px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 15px;
}
.sidebar-wrapper .sidebar-main .sidebar-list::before {
  position: absolute;
  content: "";
  background-color: #10b981;
  height: 100%;
  width: 6px;
  left: -2px;
  top: 0;
  border-radius: 18px;
  visibility: hidden;
  opacity: 0;
}
.sidebar-wrapper .sidebar-main .sidebar-list.active::before {
  visibility: visible;
  opacity: 1;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-list-link {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  color: var(--color-body);
  padding: 12px 15px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-list-link:hover {
  color: #10b981;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-list-link i {
  text-align: center;
  font-size: 20px;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-list-link span {
  margin-left: 16px;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-list-link .according-menu {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin-right: 15px;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-list-link .according-menu i {
  font-size: 16px;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-submenu {
  display: none;
  padding-left: 30px;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-submenu li {
  display: flex;
  align-items: center;
  color: var(--color-white);
  list-style: circle;
  position: relative;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-submenu li::before {
  position: absolute;
  content: "–";
  top: 0;
  left: 0;
  color: var(--color-body);
  z-index: 555;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-submenu li i {
  font-size: 8px;
  margin-right: 6px;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-submenu li a {
  color: var(--color-body);
  transition: var(--transition);
  display: block;
  width: 100%;
  font-weight: 600;
}
.sidebar-wrapper .sidebar-main .sidebar-list .sidebar-submenu li a:hover {
  opacity: 0.8;
  color: #10b981;
}
.sidebar-wrapper .sidebar-main .sidebar-list.active .sidebar-list-link {
  color: #10b981;
}

.content-body-admin {
  max-width: 100vw;
  margin-left: 280px;
  width: calc(100% - 280px);
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  margin-left: 280px;
  background-color: #f9f9f6;
  padding: 25px 28px 10px;
}
.content-body-admin .content-dashboard-wrap-top .card-chart,
.content-body-admin .content-dashboard-wrap-top .card-table {
  background-color: var(--color-white);
  padding: 25px;
}
.content-body-admin .content-dashboard-wrap-top .card-chart .card-header-title h4,
.content-body-admin .content-dashboard-wrap-top .card-table .card-header-title h4 {
  color: var(--color-heading);
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.content-body-admin .content-dashboard-wrap-top .card-table table .best-product-box {
  display: flex;
  align-items: center;
}
.content-body-admin .content-dashboard-wrap-top .card-table table .best-product-box h5 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-heading);
}
.content-body-admin .content-dashboard-wrap-top .card-table table .best-product-box h6 {
  font-size: 13px;
  color: var(--color-body);
}
.content-body-admin .content-dashboard-wrap-top .card-table table .best-product-box .product-image {
  width: 68px;
  height: 68px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
}
.content-body-admin .content-dashboard-wrap-top .card-table table .best-product-box .product-image img {
  mix-blend-mode: darken;
}
.content-body-admin .content-dashboard-wrap-top .card-table table tr:last-child {
  border-color: transparent;
}
.content-body-admin .content-dashboard-wrap-top .card-table table td {
  padding: 10px 0;
}
.content-body-admin .content-dashboard-wrap-top .card-table table .product-detail-box {
  padding: 13px;
}
.content-body-admin .content-dashboard-wrap-top .card-table table .product-detail-box h6 {
  font-size: 13px;
  color: var(--color-heading);
  font-weight: 500;
}
.content-body-admin .content-dashboard-wrap-top .card-table table .product-detail-box h5 {
  font-size: 15px;
  color: var(--color-body);
  font-weight: normal;
}
.content-body-admin .content-dashboard-wrap-top .card-table .box--padding td {
  padding: 5px 0;
}
.content-body-admin .content-dashboard-wrap-top .card-table .box--padding td .paid {
  color: var(--color-success);
}
.content-body-admin .content-dashboard-wrap-top .card-table .box--padding td .unpaid {
  color: var(--color-pinterest);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles {
  padding: 32px 25px;
  background-color: var(--color-white);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles .success {
  color: var(--color-success);
  border-color: var(--color-success);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles .icon--success {
  background-color: rgba(62, 183, 94, 0.1);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles .violet {
  color: var(--light-primary);
  border-color: var(--light-primary);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles .icon--violet {
  background-color: rgba(140, 113, 219, 0.1);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles .danger {
  color: var(--color-danger);
  border-color: var(--color-danger);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles .icon--danger {
  background-color: rgba(255, 73, 124, 0.1);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles .primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.content-body-admin .content-dashboard-wrap-top .main-tiles .icon--primary {
  background-color: rgba(53, 119, 240, 0.1);
}
.content-body-admin .content-dashboard-wrap-top .card-body {
  position: relative;
  padding-left: 14px;
  border-left: 3px solid;
}
.content-body-admin .content-dashboard-wrap-top .card-body .media-body {
  flex: 1px;
  font-weight: 500;
}
.content-body-admin .content-dashboard-wrap-top .card-body .media-body span {
  font-size: 16px;
  color: var(--color-body);
}
.content-body-admin .content-dashboard-wrap-top .card-body .media-body .counter {
  margin-top: 5px;
  font-size: 26px;
  color: var(--color-heading);
}
.content-body-admin .content-dashboard-wrap-top .card-body .icon {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  margin-left: 16px;
  display: grid;
  place-items: center;
}
.content-body-admin .product-wrap .right-options {
  display: inline-block;
}
.content-body-admin .product-wrap .right-options ul {
  padding-left: 0;
  margin-bottom: 0;
}
.content-body-admin .product-wrap .right-options ul li {
  margin: 0;
}
.content-body-admin .product-wrap .right-options .btn-custom {
  padding: 7px 36px;
  font-weight: 500;
  background-color: var(--color-success);
}
.content-body-admin .product-wrap .right-options .btn-custom::before {
  background-color: var(--color-success);
}

.add-wrap-admin .card-title-top h5 {
  font-size: 22px;
  color: var(--color-heading);
}
.add-wrap-admin .card-title-top .variant {
  font-weight: normal;
  padding: 5px 30px;
}
.add-wrap-admin .card-title-top .variant::before {
  background-color: var(--color-success);
}
.add-wrap-admin .card-title-top .btn-custom--attribute {
  padding: 4px 15px;
  font-weight: normal;
  text-align: center;
  display: flex;
  align-items: center;
}
.add-wrap-admin .card-title-top .btn-custom--attribute::before {
  background-color: var(--color-success);
}
.add-wrap-admin .card-title-top .icon--attribute {
  font-size: 12px;
  margin-left: 5px;
}
.add-wrap-admin .form-input .form-input-item {
  padding-bottom: 25px;
  border-bottom: 0.5px solid var(--color-border-light);
  padding-top: 35px;
}
.add-wrap-admin .form-input .form-input-item:first-child {
  padding-top: 0;
}
.add-wrap-admin .form-input .form-input-item:last-child {
  border-bottom-color: transparent;
}
.add-wrap-admin .form-input .form-label-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-heading);
}
.add-wrap-admin .form-input .input-text {
  padding: 5px 20px;
  line-height: 40px;
  border: 1px solid var(--color-border-light);
  transition: var(--transition);
  font-size: 16px;
}
.add-wrap-admin .form-input .input-text:focus {
  box-shadow: none;
}
.add-wrap-admin .form-input .input-file {
  height: auto;
  font-size: 16px;
  line-height: 40px;
  border-color: var(--color-border-light);
}
.add-wrap-admin .form-input .input-file:focus {
  box-shadow: none;
}
.add-wrap-admin .form-input .input-file:active {
  border-color: var(--color-border-light);
}
.add-wrap-admin .form-input .img-review {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-wrap-admin .form-input .select2-selection--single {
  height: 52px !important;
  padding: 5px;
  border-radius: var(--radius);
  border: 1px solid var(--color-border-light);
  transition: var(--transition);
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 12px !important;
}
.add-wrap-admin .form-input .select2-selection__rendered {
  color: var(--color-body);
}
.add-wrap-admin .form-input .select2-selection__arrow {
  height: 28px;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 25px;
}
.add-wrap-admin .form-input .ck-content {
  height: 300px;
  border-color: var(--color-border-light) !important;
  background-color: #f9f9f6 !important;
}
.add-wrap-admin .form-input .ck.ck-toolbar {
  background: #f9f9f6 !important;
  padding: 0 var(--ck-spacing-small);
  border: 1px solid var(--color-border-light) !important;
}
.add-wrap-admin .form-input .btn-variant {
  padding-top: 25px;
  border-top: 1px solid var(--color-border-light);
}
.add-wrap-admin .form-input .btn-variant button {
  background-color: transparent;
  color: #10b981;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.add-wrap-admin .form-input .btn-variant button i {
  padding-right: 8px;
  font-size: 12px;
}
.add-wrap-admin .form-input .btn-variant button:hover {
  opacity: 0.6;
}
.add-wrap-admin .form-input .del-variant {
  display: flex;
  justify-content: end;
}
.add-wrap-admin .form-input .del-variant .btn-custom {
  padding: 4px 23px;
  width: 170px;
  font-size: 16px;
}
.add-wrap-admin .form-input .del-variant .btn-custom::before {
  background-color: var(--color-secondary);
}
.add-wrap-admin .form-input .attribute-view {
  transition: var(--transition);
}
.add-wrap-admin .form-input .images_thumb {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 15px;
}
.add-wrap-admin .form-input .images_thumb .icon-link {
  position: absolute;
  display: grid;
  place-items: center;
  top: -10px;
  right: -10px;
  background-color: rgba(255, 0, 3, 0.7);
  width: 20px;
  height: 20px;
  z-index: 2;
  text-align: center;
  border-radius: 100%;
  border: 0.5px solid transparent;
  transition: var(--transition);
}
.add-wrap-admin .form-input .images_thumb .icon-link i {
  color: var(--color-white);
  font-size: 10px;
}
.add-wrap-admin .form-input .images_thumb .icon-link:hover {
  background-color: var(--color-white);
  border: 0.5px solid var(--color-danger);
}
.add-wrap-admin .form-input .images_thumb .icon-link:hover i {
  color: var(--color-danger);
}
.add-wrap-admin .form-input .images_thumb img {
  max-width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  border: 1px solid var(--color-border-light);
  padding: 8px;
  border-radius: 6px;
}
.add-wrap-admin .btn-custom:hover::before {
  transform: scale(1.02);
}

.select2-dropdown {
  z-index: 9999;
  background-color: white;
  border: 1px solid var(--color-border-light) !important;
  box-shadow: var(--shadow-primary);
  font-size: 14px;
}
.select2-dropdown .select2-results__option {
  font-size: 14px;
}
.select2-dropdown .select2-search__field {
  background-color: var(--color-white);
  border-color: var(--color-border-light) !important;
  height: 35px;
  padding: 10px;
}

.product-wrap .order-detail .order-top {
  border-top: 1px solid rgba(33, 37, 41, 0.15);
  border-bottom: 1px solid rgba(33, 37, 41, 0.15);
  padding: 8px 0;
}
.product-wrap .order-detail .info {
  margin-left: -15px;
  padding-left: 0;
  color: #212529;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.product-wrap .order-detail .info li {
  display: inline-block;
  margin: 0 18px;
  font-size: 18px;
  position: relative;
  color: #4a5568;
}
.product-wrap .order-detail .info li::before {
  content: "/";
  position: absolute;
  top: 0;
  right: -15px;
  width: 0;
  height: 100%;
}
.product-wrap .order-detail .info li:last-child::before {
  content: "";
}
.product-wrap .order-detail .heading {
  width: 100%;
  border-bottom-width: 1px;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  border-top: 0;
  border-bottom: 1px solid #eff2f7 !important;
  padding: 12px 20px;
  background-color: #0da487;
  border-radius: 3px;
  font-weight: 600;
}
.product-wrap .order-detail .table-order td {
  padding: 10px;
  min-width: 150px;
  border-bottom: none !important;
  color: #7e7e7e;
  padding-bottom: 20px;
  white-space: nowrap;
  vertical-align: middle;
}
.product-wrap .order-detail .table-order .image {
  color: #7e7e7e;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 0;
  display: inline-block;
}
.product-wrap .order-detail .table-order .image img {
  height: 80px;
  width: 100px;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-wrap .order-detail .table-order p {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 18px;
}
.product-wrap .order-detail .table-order h5 {
  margin-top: 10px;
  color: #212529;
  font-size: 16px;
  line-height: 1.2;
  margin: 10px 0 0 0;
  font-weight: 400;
  text-wrap: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.product-wrap .order-detail .table-order .product_variant p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 600;
}
.product-wrap .order-detail .table-order .product_variant p span {
  font-weight: normal;
  color: var(--color-primary);
}
.product-wrap .order-detail .table-order-footer:first-child, .product-wrap .order-detail .table-order-footer:last-child {
  border-top: 1px solid #ccc;
}
.product-wrap .order-detail .table-order-footer td {
  padding: 20px 15px 10px;
  text-align: left;
  border: none;
  color: #4a5568;
  white-space: nowrap;
}
.product-wrap .order-detail .table-order-footer h5 {
  color: #212529;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}
.product-wrap .order-detail .table-order-footer h4 {
  font-weight: 500;
  color: #212529;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}
.product-wrap .order-detail .table-order-footer .theme-color {
  color: #0da487;
}
.product-wrap .order-summery {
  padding: 30px;
  border-radius: 5px;
  background-color: #f9f9f6;
}
.product-wrap .order-summery h4 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 16px;
  color: #212529;
  margin-bottom: 0;
}
.product-wrap .order-summery .order-details {
  margin-top: 0;
  margin-bottom: 5px;
}
.product-wrap .order-summery .order-details li {
  margin-bottom: 3px;
  display: flex;
  text-transform: capitalize;
  line-height: 1.6;
  font-size: 15px;
  color: #7e7e7e;
}
.product-wrap .order-summery .payment-mode h4 {
  margin-bottom: 10px;
}
.product-wrap .order-summery .payment-mode .status {
  border-radius: 10px;
  padding: 10px 16px;
  display: inline-block;
  margin-bottom: 5px;
}
.product-wrap .order-summery .payment-mode .status.active {
  background-color: rgba(47, 135, 51, 0.15);
  color: #2f8733;
}
.product-wrap .order-summery .payment-mode .status.inactive {
  background-color: rgba(226, 36, 84, 0.15);
  color: #e22454;
}
.product-wrap .order-summery .payment-mode .btn-custom {
  padding: 10px 30px;
  display: inline-block;
}
.product-wrap .order-summery .payment-mode .btn-custom:hover::before {
  transform: scale(1.04);
}
.product-wrap .order-summery .payment-mode .btn-custom:focus {
  color: var(--color-white);
}
.product-wrap .order-summery .payment-mode .btn-custom.success::before {
  background-color: var(--color-success);
}
.product-wrap .order-summery .payment-mode .btn-custom.danger::before {
  background-color: var(--color-secondary);
}
.product-wrap .order-summery .delivery-sec h3 {
  color: #212529;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 400;
}
.product-wrap .order-summery .delivery-sec span {
  font-weight: 700;
  margin-left: 5px;
}
.product-wrap .update-status .btn-custom::before {
  background-color: var(--color-success);
}
.product-wrap .update-status .btn-custom:hover::before {
  transform: scale(1.03);
}/*# sourceMappingURL=style.css.map */